* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  padding: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
}

.task_1 {
  width: 60%;
  padding: 40px;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.form {
  padding: 50px;
  margin: 40px;
  background-color: rgb(239, 239, 239);
}

.name {
  font-size: 36px;
  font-style: bold;
  text-align: center;
  margin: 40px;
}
